item "杀软检测" {
    foreach $id ($1){
        bpowershell_import!($id, script_resource("/script/AvSearch/check.ps1"));
        bpowerpick!($id, "avquery");
    }
}

alias avquery{
	bpowershell_import!($1, script_resource("/script/AvSearch/check.ps1"));
	bpowerpick!($1, "avquery");
}